<ion-header [translucent]="true" style="border: 2px solid blue; height: 123px;">
  <ion-toolbar
    style="
      border: 1px solid violet;
      display: flex;
      justify-content: center;
      align-items: center;
      --background: var(--fundo-claro-main);
      color: #000;
    "
  >
    <ion-title style="font-weight: 700; font-size: x-large;">Início</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"
  style="
    border: 2px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    --background: var(--fundo-claro-main);

  "
>

<div
  style="
    border: 2px solid greenyellow;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 59px;
  "
>



</div>




</ion-content>
