ion-header {
  margin-top: 30px solid var(--fundoMain, #da110a);
  background-color: var(--fundoMain, #21f54f);

  .div-header {
    height: 30px;
    background: var(--fundoMain, #3A6EA5);
  }

  div {
    background: var(--fundoSubMain, #2B619A);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 182px;

    ion-img {
      margin-top: 1%;
    }

    ion-title {
      text-align: center;
        font-family: 'Montserrat', sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
    }

  }

}


.ion-padding-grid {
  padding: 15px;
}
