/*

< !-- Esta page ser치 voltada para o login do usu치rio,
onde ele poder치 entrar com seu email e senha por exemplo. --><ion-content [fullscreen]="true"><ion-grid class="ion-no-padding"><ion-row class="ion-justify-content-center"><ion-col size="12" size-md="8" size-lg="6"><ion-card><ion-card-header><ion-card-title>Login</ion-card-title></ion-card-header><ion-card-content><ion-item><ion-label position="floating">Email</ion-label><ion-input type="email"></ion-input></ion-item><ion-item><ion-label position="floating">Senha</ion-label><ion-input type="password"></ion-input></ion-item><ion-button expand="block">Entrar</ion-button></ion-card-content></ion-card></ion-col></ion-row></ion-grid></ion-content>

*/

// scss para centralizar o card com base no c칩digo acima

