ion-menu {
  background-color: #73849a;

  ion-content {
    --background: #2b619a;
    --padding-start: 8px;
    --padding-end: 8px;
    --padding-bottom: 20px;

    ion-list#my-side-menu-list {
      border-bottom: 1px solid #b7f5d6;
      background-color: #2b619a;

      ion-card#my-side-menu-card {
        border: solid 1px #fff;
        border-radius: 10px;
        padding: 5px;
        margin: 0 0 20px 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
    }
  }
}

ion-menu-toggle ion-item {
  --background: #2b619a;
  --padding-end: 20px;
  border-radius: 20px;
}

.accordion-gerenciar {
  --background: #2b619a;

}

.my-group {
  --background: #2b619a;
}



/* Estilo para os itens com a classe 'my-menu-item' quando são selecionados */
ion-item.my-menu-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
  ion-icon {
    color: var(--ion-color-primary);
  }
}

/* Estilo para o cabeçalho do accordion quando é selecionado */
ion-accordion.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
  ion-icon {
    color: var(--ion-color-primary);
  }
}

/* Estilo para os itens dentro do accordion quando o accordion está aberto e o item é selecionado */
ion-accordion.selected ion-item.my-menu-item {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
  ion-icon {
    color: var(--ion-color-primary);
  }
}






ion-menu ion-item ion-icon {
  color: #f00000;
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;
}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;
  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
