<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu contentId="main-content" type="overlay">
      <ion-content>

        <ion-list id="my-side-menu-list">

          <ion-card id="my-side-menu-card">

            <ion-item
              class="avatar-left"
              style="border: solid 1px #fff; border-radius: 10px;
                     padding: 0;
                     margin: 0; display: flex; flex-direction: row; justify-content: flex-start; align-items: center;"
            >
              <ion-avatar
                slot="start"
                style="border: solid 1px #fff; margin: 10px; display: flex; flex-direction: row; justify-content: center; align-items: center"
              >
                <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
              </ion-avatar>
              <ion-card-header
                style="border: solid 1px #fff; border-radius: 10px;
                       padding: 0;
                       margin: 5px; display: flex; flex-direction: column; justify-content: center; align-items: flex-start;"
              >
                <ion-card-title>Olá, Usuário</ion-card-title>
                <ion-card-subtitle>Admin</ion-card-subtitle>
              </ion-card-header>
            </ion-item>

            <ion-card-content>
            </ion-card-content>
          </ion-card>


          <ion-menu-toggle auto-hide="false">

            <ion-item class="my-menu-item" lines="none" routerDirection="root" [routerLink]="[pageInicio.url]" routerLinkActive="selected">
              <ion-icon name="home-outline" slot="start"></ion-icon>
              <ion-label>{{pageInicio.title}}</ion-label>
            </ion-item>

            <ion-accordion-group
              class="my-group"
            multiple="true">

              <ion-accordion class="accordion-gerenciar" value="gerenciar" toggleIcon="chevron-down-outline">

                <!--
                  Aqui está o item que será o cabeçalho do accordion.
                -->
                <ion-item
                  style="background: #2b619a;"
                class="my-menu-item" slot="header" lines="none" routerLinkActive="selected">
                  <ion-icon name="settings-outline" slot="start"></ion-icon>
                  <ion-label>Gerenciar</ion-label>
                </ion-item>

                <!--
                  Aqui estão os itens que serão exibidos quando o accordion estiver aberto.
                -->

                <ion-item class="my-menu-item" lines="none" routerDirection="root" [routerLink]="[pageCadastro.url]" slot="content" button>
                  <ion-icon name="person-add-outline" slot="start"></ion-icon>
                  {{pageCadastro.title}}
                </ion-item>

                <ion-item class="my-menu-item" lines="none" routerDirection="root" [routerLink]="[pageEstudante.url]" slot="content" button>
                  <ion-icon name="person-outline" slot="start"></ion-icon>
                  {{pageEstudante.title}}
                </ion-item>

                <ion-item class="my-menu-item" lines="none" routerDirection="root" [routerLink]="[pageCurso.url]" slot="content" button>
                  <ion-icon name="school-outline" slot="start"></ion-icon>
                  {{pageCurso.title}}
                </ion-item>

                <!--
                  Aqui finaliza o accordion e os itens que estão dentro dele.
                -->

              </ion-accordion>

              <ion-item lines="none" routerDirection="root" [routerLink]="[pageCalendarioLetivo.url]"
                routerLinkActive="selected">
                <ion-icon name="calendar-outline" slot="start"></ion-icon>
                {{pageCalendarioLetivo.title}}
              </ion-item>

              <ion-item lines="none" routerDirection="root" [routerLink]="[pageRelatorios.url]"
                routerLinkActive="selected">
                <ion-icon name="document-text-outline" slot="start"></ion-icon>
                {{pageRelatorios.title}}
              </ion-item>

            </ion-accordion-group>

          </ion-menu-toggle>
        </ion-list>

        <!-- <ion-list id="labels-list">
          <ion-list-header>Labels</ion-list-header>

          <ion-item *ngFor="let label of labels" lines="none">
            <ion-icon aria-hidden="true" slot="start" ios="bookmark-outline" md="bookmark-sharp"></ion-icon>
            <ion-label>{{ label }}</ion-label>
          </ion-item>
        </ion-list> -->

      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
