<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label position="stacked">Nome Completo</ion-label>
      <ion-input formControlName="nomeCompleto" type="text" placeholder="Nome Completo" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Data de Nascimento</ion-label>
      <ion-input formControlName="dataNascimento" type="date" placeholder="Data de Nascimento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Gênero</ion-label>
      <ion-input formControlName="genero" type="text" placeholder="Gênero"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Estrangeiro</ion-label>
      <ion-input formControlName="estrangeiro" type="text" placeholder="Estrangeiro? Sim/Não"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">CPF</ion-label>
      <ion-input formControlName="CPF" type="text" placeholder="CPF"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">RG</ion-label>
      <ion-input formControlName="RG" type="text" placeholder="RG"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Outros Documentos</ion-label>
      <ion-input formControlName="outrosDocumentos" type="text" placeholder="Outros Documentos"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email" type="email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefone Celular</ion-label>
      <ion-input formControlName="telefoneCelular" type="text" placeholder="Telefone Celular"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Telefone Fixo</ion-label>
      <ion-input formControlName="telefoneFixo" type="text" placeholder="Telefone Fixo" ></ion-input>
    </ion-item>
  </ion-list>

  <ion-button expand="full" (click)="submit()">Cadastrar</ion-button>
</ion-content>
