<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<!--
  Esta papage Home aparecerá apos o usuário logar no sistema.
  Como este é m sistem para o gerenciamento de cursos livros ministrados
  por professores ou profissionais freelancers, a Home deverá conter
  informações como o número total de alunos aticos e cursando, um calendário
  mostrando o mês atual, e uma lista de ocorrências ou acontecimentos
  nessa mini escola que usará o sistema.
-->

<ion-content [fullscreen]="true">
  <!--
    Dito a descrição acima podemos prototipar a Home assim:
    Primeiro cartão interativo onde mostra os números sobre os alunos,
    depois um calendário que representa o mês atual,
    e por fim uma lista de acontecimentos.
  -->

  <!-- O cartão -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Alunos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Ativos</ion-label>
        <ion-badge slot="end">10</ion-badge>
      </ion-item>

      <ion-item>
        <ion-label>Cursando</ion-label>
        <ion-badge slot="end">10</ion-badge>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <!-- O calendário -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Calendário</ion-card-title>
    </ion-card-header>

    <ion-card-content>

      <!-- O calendário em si (simulação) -->


    </ion-card-content>
  </ion-card>

  <!-- A lista de acontecimentos -->

  <ion-card>
    <ion-card-header>
      <ion-card-title>Acontecimentos</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-label>Aluno X se matriculou no curso Y</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Aluno X se matriculou no curso Y</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Aluno X se matriculou no curso Y</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Aluno X se matriculou no curso Y</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Aluno X se matriculou no curso Y</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Aluno X se matriculou no curso Y</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Aluno X se matriculou no curso Y</ion-label>
        </ion-item>

        <ion-item>
          <ion-label>Aluno X se matriculou no curso Y</ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>



</ion-content>
