<ion-header [translucent]="true"
style="
background: #2B619A;
padding: 0;
margin: 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
width: 100%;
border-top: 25px solid #3A6EA5;
"
>
  <div
  style="
    background: #2b619a;
    padding: 0;
    margin: 18px 0 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  "
  >

<ion-img
src="assets\logo\middle-school-education-icon-school-icon-with-circle.png"
style="
width: 60px;
margin: 5px 0 5px 0;

"
/>
<ion-title
style="
font-size: 2.8rem;
--background: #2b619a;
padding: 0;
margin: 5px 0 0 0;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
"
>AgePlan</ion-title>
</div>
</ion-header>

<ion-content
  style="
    --background: #3A6EA5;
    padding: auto;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

  "
>
  <form
    style="
    --background: #3A6EA5;
    box-sizing: border-box;
    padding: auto;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;

    "
    #form="ngForm" >
    <ion-grid
      style="
      --background: #3A6EA5;
      justify-content: center;
      align-items: center;
      width: 100%;
      "
    >
      <ion-row color="primary"
        style="
        --background: #3A6EA5;
        justify-content: center;
        align-items: center;
        width: 100%;
        "
      >
        <ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <div text-center>
            <h3>Login</h3>
          </div>
          <div padding>
            <ion-item>
              <ion-input name="name" type="text" placeholder="Name" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="email" type="email" placeholder="your@email.com" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="password" type="password" placeholder="Password" ngModel required></ion-input>
            </ion-item>
            <ion-item>
              <ion-input name="confirm" type="password" placeholder="Password again" ngModel required></ion-input>
            </ion-item>
          </div>
          <div padding>
            <ion-button size="large" type="submit" [disabled]="form.invalid" expand="block">Register</ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
