<ion-header [translucent]="true" style="
  background: var(--kimoby-is-the-new-blue);
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-top: 25px solid;
  border-image: linear-gradient(to right, #FF6700, #ed8f03) 1;
  ">
  <div style="

    padding: 0;
    margin: 18px 0 15px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  ">
    <ion-img src="assets/logo/logoAgePlan.svg" style="position: relative; width: 80px;" />
    <ion-title style="font-size: 1.9rem; padding: 0; margin: 5px 0 0 0; color: #ffffff;"> AgePlan </ion-title>
  </div>
</ion-header>

<ion-content style="--background: linear-gradient(to right, #bad8ff, #ffffff);">

  <div
    style="
      display: flex;
      position: relative;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: fit-content;
    ">

  <div
    style="
      background: linear-gradient(to right, #396afc, #2948ff);
      position: relative;
      margin-top: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 324px;
      height: fit-content;
      border-radius: 8px;
      box-shadow: 0px 1px 4px 0px rgba(0,0,0,0.6);
    ">

    <div
      style="
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 296px;
      "
    >

      <ion-title
        style="
          font-size: 1.5rem;
          font-weight: 400;
          color: #fff;
          padding: 5px;
          margin: 18px 0 16px 0;
        "
      > Login </ion-title>

      <form
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 100%;
        "
      >
        <ion-item
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 14px 12px 14px;
            --background: linear-gradient(to left, #bad8ff, #ffffffd2);
            border-radius: 8px;
            width: 296px;
            height: 48px;
            color: rgba(59, 55, 80, 0.781);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            --inner-border-width: 0;
          "
        >
          <ion-input type="email" placeholder="Nome de usuário ou e-mail" required/>
        </ion-item>

        <ion-item
          style="
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin: 0 14px 8px 14px;
            --background: linear-gradient(to left, #bad8ff, #ffffffd2);
            border-radius: 8px;
            width: 296px;
            height: 48px;
            color: rgba(59, 55, 80, 0.781);
            font-size: 14px;
            font-style: normal;
            font-weight: 400;
            --inner-border-width: 0;
          "
        >
          <ion-input type="password" placeholder="Sua senha" required />
        </ion-item>
      </form>
    </div>

    <div
      style="
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;
        width: 296px;
      "
    >

      <ion-text style="padding-left: 4px;padding-bottom: 8px;">
        <ion-router-link routerLink="/recuperar-senha" style="color: #ffffffa6; font-weight: 400; font-size: small;">
          Esqueceu sua senha? </ion-router-link>
      </ion-text>

      <ion-button (click)="logar()" style="border-radius: 8px;
        --background: linear-gradient(to right, #00bcef, #509fff);
        width: 296px;
        height: 48px;
        color: #fff;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
      " >Entrar</ion-button>
    </div>
  </div>
  </div>


</ion-content>
